<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <div class="div-principal"> -->
  <form #formulario="ngForm" (ngSubmit)="login()">
    <!-- <div class="icon"> -->
      <ion-icon name="person"></ion-icon>
    <!-- </div> -->

    <!-- <div class="div-secundario"> -->
      <ion-item>
        <ion-label>
          <ion-icon name="person" slot="start"></ion-icon>
        </ion-label>
        <ion-input placeholder="User" type="text" name="usuario" required [(ngModel)]="usr"></ion-input>
      </ion-item>
    <!-- </div> -->

    <!-- <div class="div-secundario"> -->
      <ion-item>
        <ion-label>
          <ion-icon name="key" slot="start"></ion-icon>
        </ion-label>
        <ion-input placeholder="Password" type="password" name="password" required [(ngModel)]="pass"></ion-input>
      </ion-item>
    <!-- </div> -->
    
    <!-- <div class="div-button"> -->
      <ion-button shape="round" color="warning" type="submit" [disabled]="formulario.invalid">Iniciar sesion</ion-button>
    <!-- </div> -->
  </form>
  <!-- </div> -->
</ion-content>
